/*UNIVERSAL STYLES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(225, 100%, 94%);
    background: url(/images/pattern-background-mobile.svg);
    font-family: 'Red Hat Display', sans-serif;
}

p {
    font-size: 16px;
}

.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
