/*UNIVERSAL STYLES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

h3, h5 {
    color: hsl(223, 47%, 23%);
}

p {
    color: hsl(224, 23%, 55%);
    font-size: 16px;
}

.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*CARD STYLES*/
.card {
    border-radius: 25px 25px 25px 25px;
    flex-direction: column;
    margin: 70px 25px;
}

img {
    width: 100%;
    border-radius: 25px 25px 0 0;
}


.card-content {
    background: hsl(225, 100%, 98%);
    border-radius: 25px 25px;
}

.summary {
    padding: 33px;
    text-align: center;
}

.summary h3 {
    font-weight: 900;
    margin-bottom: 30px;
}

.summary p {
    line-height: 1.5em;
}

.subscription {
    background: hsl(225, 100%, 94%);
    border-radius: 10px 10px;
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

.subscription img {
    background:  hsl(225, 100%, 94%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.subscription-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subscription h5,
.subscription-link {
    font-weight: 900;
}

.subscription-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription-link:hover{
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}

.payment-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment-btn {
    background: hsl(245, 75%, 52%);
    border-style: none;
    box-shadow: 0px 20px 10px 0px;
    color: hsl(245, 100%, 94%);
    font-weight: 900;
    padding: 20px 60px;
    border-radius: 15px 15px 15px 15px;
}

.payment-btn:hover {
    background: hsl(224, 23%, 55%);
}

.payment-cancel-link {
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    margin: 28px 0;
    text-decoration: none;
}

.payment-cancel-link:hover {
    color: hsl(223, 47%, 23%);
}

/*DESKTOP STYLES*/

@media only screen and (max-width: 1440px) {
    .card-wrapper {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .card {
        max-width: 375px;
    }
  }